<head>
    <title>Books</title>
    <style>
        body {
            background-color:rgb(105, 105, 105); /* light gray background */
            font-family: Arial, sans-serif;
        }
        table { border-collapse: collapse; width: 60%; margin: auto; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
        th { background-color:rgb(201, 186, 186); }
        input[type="text"][name="update"] {
            display: none;
        }    
    </style>
    <form id="myForm", method = "post" >
        <input type="text" id="author_input" name="author_input" placeholder="Enter Author">
        <input type="text" id="book" name="book" placeholder="book title">
        <button type="submit" name = "action" value = "submit">Submit</button>
    </form>
    <form action="/home/books/add/" method="POST">
        <button type="submit">Add</button>
    </form>
    <form action="/home/" method="post">
        <button type="submit">main menu</button>
    </form>
</head>

<h2 style="text-align:center;">Book table</h2>
    <table>
        <thead>
            <tr>
                <th>Books</th>
                <th>Book ID</th>
                <th>Author fogien key</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for item in books %}
            <tr>
                <td>{{ item.book_name }}</td>
                <td>{{ item.book_id }}</td>
                <td>{{ item.author_foreign }}</td>
                <td>
                    <form action="/home/books/update/" method="POST">
                        <input type="hidden" name="update" value="{{ item.book_id }}">
                        <button type="submit"name = "update_pressed", value = "True">Update</button>
                    </form>
                </td>
                                <td>
                    <form action="/home/books/remove/" method="POST">
                        <input type="hidden" name="data_remove" value="{{ item.book_id }}">
                        <button type="submit" name="unalive" value="true">Remove</button>
                    </form>
                </td>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>