<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <style>
    body {
      background-color: #ccc; /* light grey */
      color: #000;
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 20%;
    }
  </style>
</head>
<body>
  <h1>This is home</h1>

    <form action="/home/authors/" method="POST">
        <h2>Authors</h2>
        <button type="submit" class="btn">Submit</button>
        </form>
        
    <form action="/home/books/" method="POST">
        <h2>books</h2>
        <button type="submit" class="btn">Submit</button>
        </form>

    <form action="/home/reviews/" method="POST">
        <h2>reviews</h2>
        <button type="submit" class="btn">Submit</button>
        </form>


</body>
</html>
